<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand"href="/">
  toDoList</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title">Add a new task</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <app-todo></app-todo>
        </div>
      </div>
    </div>
  </div>
   
</div>

<router-outlet></router-outlet>
