<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand"href="/">
  toDoList</a>
</nav>
<div class="container">
  <div class="row">
      <div class="card mt-5">
          <div class="card-body">
            <div class="card-title">
              Insert a new task
            </div>
          </div>
        </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li *ngFor="let tasks of taskArray" class="list-group-item list-group-item-action">
          {{tasks.title}}
      </li>
      </ul>
      
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

<router-outlet></router-outlet>
