<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"href="/">
    <span><img src="../assets/Logo_Coderhouse-3.png" alt="logo coderhouse" class="coder-logo"></span></a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h4>Info about the creator</h4>
          <p>Hello my name is Matheus and I'm the creator of this page.
            I see myself as a newborn in the world of programming, trying to learn new ways of doing things, and always pushing myself foward, breaking my own limits.
            Always looking to learn from more experienced programmers since they paved the way for us, newcomers.
            Currently I'm freelacing for my family and friends, not confident enough to do big jobs, but some day I hope to become as successful as Elon Musk.
            I hope you liked my job and this short resume about me (Always try to find a way to promote yourself :D)
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <app-todo></app-todo>
        </div>
      </div>
    </div>
  </div>
   
</div>

<router-outlet></router-outlet>
